<!DOCTYPE html>
<html lang="en" style="font-family: 'Signika', sans-serif;">

<head style="font-family: 'Signika', sans-serif;">
    <meta charset="UTF-8" style="font-family: 'Signika', sans-serif;">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1.0" style="font-family: 'Signika', sans-serif;">-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" style="font-family: 'Signika', sans-serif;">
    <link rel="preconnect" href="https://fonts.gstatic.com" style="font-family: 'Signika', sans-serif;">
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap" rel="stylesheet"
          style="font-family: 'Signika', sans-serif;">
    <title style="font-family: 'Signika', sans-serif;">Template</title>

</head>

<body style="margin: 0;font-family: 'Signika', sans-serif;">

<table class="container" style="min-width:990px;max-width: 1024px;margin: 0 auto;padding: 30px 10px;font-family: 'Signika', sans-serif;">
    <tr style="font-family: 'Signika', sans-serif;">
        <td style="font-family: 'Signika', sans-serif;">
            <table cellpadding="0" cellspacing="0" border="0">
                <tr class="detail" style="color: #38327c;">
                    <td class="detail-child" style="font-size: 1.1em;">Dear {name},</td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0" border="0">
                <tr class="main">
                    <td>
                        <p>
                            Hello
                        </p>
                        <p>
                            <a href="{code}" target="_blank" class="link-btn"
                            style="background-color: #38327c;color: #fff; text-decoration: none;padding: 10px;margin: 10px 0;display: inline-block;margin-bottom: 20px;">Reset Password</a>
                        </p>

                        <p>
                            If you have any further questions or comments, please feel free to contact us at
                            example@examle.com or simply reply to this email.

                        </p>
                        <div></div>
                        <p>
                            Kind regards,
                        </p>
                        <p>
                             Team
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>


<table style="background-color: white;color: #fff;text-align: center;width: 100%;font-family: 'Signika', sans-serif;">
    <tr style="font-family: 'Signika', sans-serif;background-color: #3670FB;height:3px">
        <td>

        </td>
    </tr>
</table>


<table style="background-color: white;color: #fff;text-align: center;width: 100%;font-family: 'Signika', sans-serif;">
    <tr style="font-family: 'Signika', sans-serif;background-color: #3670FB;height:11px">
        <td>
        </td>
    </tr>
</table>
</body>

</html>
